<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <listeners>
        <listener class-name="com.buffalocart.listener.TestListener"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test name="Functional Test">
     <!--<groups>
            <run>
                <include name="Regression"/>
                <include name="Sanity"/>
                <include name="Smoke"/>
            </run>
        </groups>-->
        <classes>
            <class name="com.buffalocart.testscripts.LoginTest">
                <methods>
                    <exclude name="VerifyLoginPageTitle"/>
                    <exclude name="VerifyUserLoginWithValidUserCredentials"/>
                    <exclude name="VerifyTheErrorMessageDisplayedForUserLoginWithInvalidCredentials"/>
                    <exclude name="VerifyWhetherTheUserIsAbleToClickOnRememberMeCheckbox"/>
                </methods>
            </class>
            <class name="com.buffalocart.testscripts.ForgotPasswordTest">
                <methods>
                    <exclude name="VerifyErrorMessageDisplayedOnResetPasswordPageWithInvalidEmailId"/>
                </methods>
            </class>
            <class name="com.buffalocart.testscripts.HomeTest">
                <methods>
                    <exclude name="VerifyHomePageTitle"/>
                    <exclude name="VerifyDateDisplayedInHomePage"/>
                </methods>
            </class>
            <class name="com.buffalocart.testscripts.SignOutTest">
                <methods>
                    <exclude name="VerifyWhetherUserIsNavigatingToLoginPageByClickingOnSignOutButton"/>
                </methods>
            </class>
            <class name="com.buffalocart.testscripts.UserManagementTest">
                <methods>
                    <exclude name="VerifyTheUserManagementSubTabs"/>
                </methods>
            </class>
            <class name="com.buffalocart.testscripts.UsersTest">
                <methods>
                    <exclude name="VerifyUsersPageTitle"/>
                    <exclude name="VerifyUserSearchWithValidData"/>
                    <exclude name="VerifyMessageDisplayedByUserSearchWithInvalidData"/>
                </methods>
            </class>
            <class name="com.buffalocart.testscripts.NewUserTest">
            <methods>
                <exclude name="VerifyTheErrorMessageDisplayedWithoutFillingMandatoryFieldsInAddUserForm"/>
                <exclude name="VerifyUserLoginWithNewlyAddedUser"/>
                <include name="VerifyAddUsersPageTitle"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>